@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", system-ui;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background: white;
    max-height: 100vh;
}

a{
    text-decoration: none;
}
header {
    background: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 3px solid #113D6B;
}
header .logo {
    font-size: 30px;
    text-transform: uppercase;
}
header nav ul {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    color: #113D6B;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}
header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: #113D6B;
}
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #113D6B;
}

section {
    background: image("blob-scene-haikei.svg");
}

.main {
    display: grid;
    grid-template-columns: 5% repeat(2, 1fr);
    column-gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin: 15rem auto;
    margin-left: 10%;
}

.main h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.main p {
    margin-top: 1rem;
    font-size: .98rem;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.7rem;
}

.social a {
    color: #113D6B;
    font-size: 1.5rem;
    border: 1.6px solid #113D6B;
    border-radius: 25%;
    text-align: center;
    width: 46px;
    margin: 5px;
    padding: 5px;
}

.social a:hover {
    color: #fff;
    background-color: #113D6B;
    transition: all .3s ease-in-out;
}

.main h1 span:nth-child(1) {
    font-size: 1.5rem;
}
.button button {
    background-color: transparent;
    border: 1px solid #113D6B;
    border-radius: 0.4rem;
    margin-top: 2rem;
    cursor: pointer;
    padding: 0.8rem 1.2rem;
}
.button button:hover {
    background-color: #113D6B;
    color: #fff;
    transition: all .3s ease-in-out;
    transform: scale(.91);
}
.images {
    background-image: url('https://task025.w3spaces.com/graph6.png');
    background-repeat: no-repeat;
    background-position: 0 -75px;
    background-position: 0px -74px;
}


.curve1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curve1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.curve1 .shape-fill {
    fill: #113D6B;
}

.curve2 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.curve2 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 112px;
}

.curve2 .shape-fill {
    fill: #113D6B;
}

/*===Partie mon parcours===*/
.parcours{
    background-color:  #113D6B;
    color: white;
    position: relative;
}

.parcours h2{
    padding: 10% 0% 0% 0%;
    border-bottom:1px solid white;
    font-style: bold;
    font-size: 2em;
    margin: 0 10% 0 10%;
}
.timeline {
    margin:5em auto;
    margin-bottom: 0px;
    max-width: 34.15em;
    background-color:  #113D6B;;
    color: white;
    padding-bottom: 5em;
}

.checkpoint{
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint div {
    border: 2px solid #ffffff;
    border-radius:1em;
    padding: 1.5em;
}

.checkpoint p{
    line-height: 27px;
    color: white;
}

.checkpoint:nth-child(odd){
    border-left:3px solid white;
    padding-left: 3em;
    transform: translateX(16.9em);
}

.checkpoint:nth-child(even){
    border-right:3px solid white;
    padding-right: 3em;
    transform: translateX(-16.9em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before{
    content: "";
    background: #ffffff;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
}

.checkpoint:nth-child(odd)::before{
    left: 0;
}

.checkpoint:nth-child(even)::before{
    right:0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before{
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em #0d71fc;
    width:0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before{
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before{
    right: -0.5em;
}

.curve3 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curve3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.curve3 .shape-fill {
    fill: #113D6B;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: white;
    color: white;
}

.skills h1{
    padding: 10% 0% 0% 0%;
    border-bottom:1px solid #113d6b;
    font-style: bold;
    font-size: 2em;
    margin: 0 10% 5% 10%;
    color: #113d6b;
}

.container{
    position: relative;
    width: 900px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.container .card{
    position: relative;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    background: #75b7fd;
    background: -webkit-radial-gradient(circle, #75b7fd 0%, #113d6b 100%);
    background: radial-gradient(circle, #75b7fd 0%, #113d6b 100%);
}

.container .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

.container .card:before{
    content:'';
    position: absolute;
    top: 0;
}

.percent{
    position: relative;
    width:150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: rgba(17,61,107,0.5);
    z-index: 1000;
}

.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2{
    color: #ffffff;
    font-weight: 600;
    font-size: 40px;
    transition: 0.5s;
}



.cercle{
    position: relative;
    width: 150px;
    height: 150px ;
    z-index: 1000;
}

.cercle circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}

.cercle circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.container:nth-child(2) .card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: 44;
}
.container:nth-child(2) .card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: 44;
}
.container:nth-child(2) .card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: 308;
}
.container:nth-child(3) .card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: 176;
}
.container:nth-child(3) .card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: 176;
}
.container:nth-child(3) .card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: 44;
}
.container:nth-child(4) .card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: 132;
}
.container:nth-child(4) .card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: 308;
}
.container:nth-child(4) .card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: 88;
}

.card svg circle:nth-child(2){
    stroke: #ffffff;
}
.text{
    margin-top: 10px;
    color: white;
}
.custom-shape-divider-bottom-1706879438 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706879438 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px;
}

.custom-shape-divider-bottom-1706879438 .shape-fill {
    fill: #113D6B;
}

.soft{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #113d6b;
    color: white;
    --light: hsl(220, 50%, 90%);
    --primary: hsl(255, 30%, 55%);
    --focus: hsl(210, 90%, 50%);
    --border-color: hsla(0, 0%, 100%, .2);
    --background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
    --shadow-1: hsla(236, 50%, 50%, .3);
    --shadow-2: hsla(236, 50%, 50%, .4);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', sans-serif;
    color: var(--light);

}
.soft h1{
    padding: 10% 0% 0% 0%;
    border-bottom:1px solid #ffffff;
    font-style: bold;
    font-size: 2em;
    margin: 0 10% 5% 10%;
    color: #ffffff;
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem 2rem;
}



/* modal */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: none;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

}


/* using :target */
/*
when users will click/enter button(link) browser will add a #id in a url and when that happens we'll show our users the modal that contains that id.
*/
.modal-container:target {
    display: flex;
    flex-direction: row;
}

.modal {
    width: 70%;
    padding: 2rem ;
    border-radius: .8rem;

    color: var(--light);
    background: var(--background);
    position: relative;

    overflow: hidden;
}

.modal__title {
    font-size: 3.2rem;
}

.modal__text {
    margin: 10%;
    font-size: 1.2rem;
}

.modal__btn {
    padding: 1rem 1.6rem;
    border: 1px solid var(--border-color);
    border-radius: 100rem;
    color: inherit;
    font-family: inherit;
    letter-spacing: .2rem;

    transition: .2s;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.h4{
    color: #113d6b;
}

.modal__btn:hover,
.modal__btn:focus {
    background: #113d6b ;
    border-color: white ;
    transform: translateY(-.2rem);
}

/* link-... */
.link-1 {
    font-size: 1.8rem;

    color: #113d6b;
    background: white;
    border-radius: 5px;
    padding: 1.4rem 3.2rem;

    transition: .2s;
    display: flex;
    flex-direction: row;
}

.gauche{
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.droite{
    font-size:1.4rem ;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.link-1:hover{
    scale: 110%;
}





.link-2 {
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--border-color);
    border-radius: 100rem;

    color: inherit;
    font-size: 2.2rem;

    position: absolute;
    top: 2rem;
    right: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.link-2::before {
    content: '×';
    transform: translateY(-.1rem);
}

.link-2:hover,
.link-2:focus {
    background: red;
    border-color: white;
    transform: translateY(-.2rem);
}

.custom-shape-divider-top-1707331741 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1707331741 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 101px;
}

.custom-shape-divider-top-1707331741 .shape-fill {
    fill: #113D6B;
}

.outils h1{
    padding: 10% 0% 0% 0%;
    border-bottom:1px solid #113d6b;
    font-style: bold;
    font-size: 2em;
    margin: 0 10% 5% 10%;
    color: #113d6b;
}

.liste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* This creates a responsive grid that adjusts based on the container's width */
    gap: 20px; /* Adjusts the space between grid items */
    justify-content: center; /* Centers the grid items horizontally */
    align-items: center; /* Centers the grid items vertically */
    margin:10%; /* Centrer horizontalement */
}

.logo-tools {
    background: #113d6b;
    padding: 5%; /* You might want to adjust this value or remove it since gap already creates space between grid items */
    border-radius: 10px;
    display: flex; /* Added to center the image inside the .logo-tools div */
    justify-content: center; /* Centers content horizontally inside the .logo-tools div */
    align-items: center; /* Centers content vertically inside the .logo-tools div */
}

.logo-tools img {
    max-width: 100%; /* Ensures the image does not exceed the div size */
    max-height: 100%; /* Ensures the image does not exceed the div size */
    border-radius: 10px; /* Optional: If you want the images to have rounded corners */
}

.custom-shape-divider-bottom-1707388580 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707388580 svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1707388580 .shape-fill {
    fill: #113D6B;
}

.project{
    background-color: #113d6b;
    color: white;
    padding-bottom: 10%;
}

.project h1{
    padding: 10% 0% 0% 0%;
    border-bottom:1px solid white;
    font-style: bold;
    font-size: 2em;
    margin: 0 10% 0 10%;
}

.carousel{
    margin: 10%;
}

.custom-shape-divider-top-1707417152 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1707417152 svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top-1707417152 .shape-fill {
    fill: #113D6B;
}

@media only screen and (max-width: 1024px) {
    section {
        margin: 2rem 2.5rem;
    }

    .parcours{
        margin: 0;
    }
    .timeline{
        width: 80vw;
    }

    .soft{
        margin: 0;
    }

    .link-1{
        flex-direction: column;
    }

    .timeline .checkpoint{
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }

    .timeline .checkpoint::before{
        width:3px;
        height: 4em;
        top:-2em;
        left:50%;
        transform: translateX(-50%);
    }

    .timeline .checkpoint div::before {
        top: -0.5em;
        left:50%;
        transform: translateX(-50%);
    }

    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
    }
    .container .card{
        margin-bottom: 20px;
    }


    .droite{
        display: none;
    }
}

@media only screen and (max-width:768px) {
    html {
        font-size: 95%;
    }
    header {
        max-width: 100%;
    }
    section {
        margin: 0rem 1.5rem;
    }
    .images {
        background-position: center;
        background-size: cover;
    }
}

@media only screen and (max-width:480px) {
    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #113D6B;
    }

    header {
        padding: 0.7rem 1rem;
        align-items: center;
        max-width: 100%;
    }

    nav {
        position: absolute;
        display: grid;
        top: 75px;
        width: 100%;
        text-align: center;
        background-color: #fff;
        left: -100%;
    }

    #click:checked~nav {
        left: 0%;
        transition: all 0.3s ease;
    }

    section {
        margin: 1rem 1.5rem;
    }
    .main {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: #fff;
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }
}