@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", system-ui;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background: white;
    max-height: 100vh;
}

a{
    text-decoration: none;
}
header {
    background: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 3px solid #113D6B;
}
header .logo {
    font-size: 30px;
    text-transform: uppercase;
}
header nav ul {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    color: #113D6B;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}
header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: #113D6B;
}
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #113D6B;
}


.main {
    display: grid;
    grid-template-columns: 5% repeat(2, 1fr);
    column-gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin: 15rem auto;
    margin-left: 10%;
}

.main h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.main p {
    margin-top: 1rem;
    font-size: .98rem;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.7rem;
}

.detail p a{
    color: #113D6B;
    font-weight: 600;
}
.social a {
    color: #113D6B;
    font-size: 1.5rem;
    border: 1.6px solid #113D6B;
    border-radius: 25%;
    text-align: center;
    width: 46px;
    margin: 5px;
    padding: 5px;
}

.social a:hover {
    color: #fff;
    background-color: #113D6B;
    transition: all .3s ease-in-out;
}

.main h1 span:nth-child(1) {
    font-size: 1.5rem;
}
.button button {
    background-color: transparent;
    border: 1px solid #113D6B;
    border-radius: 0.4rem;
    margin-top: 2rem;
    cursor: pointer;
    padding: 0.8rem 1.2rem;
}
.button button:hover {
    background-color: #113D6B;
    color: #fff;
    transition: all .3s ease-in-out;
    transform: scale(.91);
}
.images {
    background-image: url('https://task025.w3spaces.com/graph6.png');
    background-repeat: no-repeat;
    background-position: 0 -75px;
    background-position: 0px -74px;
}


.curve1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curve1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.curve1 .shape-fill {
    fill: #113D6B;
}

.curve2 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.curve2 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 112px;
}

.curve2 .shape-fill {
    fill: #113D6B;
}

/*===Partie mon parcours===*/
.parcours{
    background-color:  #113D6B;
    color: white;
    position: relative;
}

.parcours h2{
    padding: 10% 0% 0% 0%;
    border-bottom:1px solid white;
    font-style: bold;
    font-size: 2em;
    margin: 0 10% 0 10%;
}
.timeline {
    margin:5em auto;
    margin-bottom: 0px;
    max-width: 34.15em;
    background-color:  #113D6B;;
    color: white;
    padding-bottom: 5em;
}

.checkpoint{
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint div {
    border: 2px solid #ffffff;
    border-radius:1em;
    padding: 1.5em;
}

.checkpoint p{
    line-height: 27px;
    color: white;
}

.checkpoint:nth-child(odd){
    border-left:3px solid white;
    padding-left: 3em;
    transform: translateX(16.9em);
}

.checkpoint:nth-child(even){
    border-right:3px solid white;
    padding-right: 3em;
    transform: translateX(-16.9em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before{
    content: "";
    background: #ffffff;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
}

.checkpoint:nth-child(odd)::before{
    left: 0;
}

.checkpoint:nth-child(even)::before{
    right:0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before{
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em #0d71fc;
    width:0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before{
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before{
    right: -0.5em;
}

.curve3 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curve3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.curve3 .shape-fill {
    fill: #113D6B;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: white;
    color: white;
}

.skills h1{
    padding: 10% 0% 0% 0%;
    border-bottom:1px solid #113d6b;
    font-style: bold;
    font-size: 2em;
    margin: 0 10% 5% 10%;
    color: #113d6b;
}

.container{
    position: relative;
    width: 900px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.container .card{
    position: relative;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    background: #75b7fd;
    background: -webkit-radial-gradient(circle, #75b7fd 0%, #113d6b 100%);
    background: radial-gradient(circle, #75b7fd 0%, #113d6b 100%);
}

.container .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

.container .card:before{
    content:'';
    position: absolute;
    top: 0;
}

.percent{
    position: relative;
    width:150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: rgba(17,61,107,0.5);
    z-index: 1000;
}

.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2{
    color: #ffffff;
    font-weight: 600;
    font-size: 40px;
    transition: 0.5s;
}



.cercle{
    position: relative;
    width: 150px;
    height: 150px ;
    z-index: 1000;
}

.cercle circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}

.cercle circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.container:nth-child(2) .card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: 44;
}
.container:nth-child(2) .card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: 44;
}
.container:nth-child(2) .card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: 308;
}
.container:nth-child(3) .card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: 176;
}
.container:nth-child(3) .card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: 176;
}
.container:nth-child(3) .card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: 44;
}
.container:nth-child(4) .card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: 132;
}
.container:nth-child(4) .card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: 308;
}
.container:nth-child(4) .card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: 88;
}

.card svg circle:nth-child(2){
    stroke: #ffffff;
}
.text{
    margin-top: 10px;
    color: white;
}
.custom-shape-divider-bottom-1706879438 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706879438 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px;
}

.custom-shape-divider-bottom-1706879438 .shape-fill {
    fill: #113D6B;
}

.soft{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #113d6b;
    color: white;


}
.soft h1 {
    padding: 10% 0% 0% 0%;
    border-bottom: 1px solid #ffffff;
    font-style: bold;
    font-size: 2em;
    margin: 0 10% 5% 10%;
    color: #ffffff;
}

.conteneur {
    margin: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

details{
    width: 65%;
    display: flex;
    background-color: white;
    color: #113d6b;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
}

details summary{
    color: #113d6b;
    padding: 2%;
    cursor: pointer;
    width: 100%;
}
.sommaire-compétance{
    display: flex;
    flex-direction: row;
    width: 100%
}

.sommaire-compétance h5{
    padding: 0;
    font-size: 1.5em;
    color: #113d6b;
    width: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.description-courte{
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    margin: 5%;
}

.sommaire-compétance p{
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #113d6b;
}

.description-longue{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;
}

.custom-shape-divider-top-1707331741 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1707331741 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 101px;
}

.custom-shape-divider-top-1707331741 .shape-fill {
    fill: #113D6B;
}

.outils h1{
    padding: 10% 0% 0% 0%;
    border-bottom:1px solid #113d6b;
    font-style: bold;
    font-size: 2em;
    margin: 0 10% 5% 10%;
    color: #113d6b;
}

.liste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* This creates a responsive grid that adjusts based on the container's width */
    gap: 20px; /* Adjusts the space between grid items */
    justify-content: center; /* Centers the grid items horizontally */
    align-items: center; /* Centers the grid items vertically */
    margin:10%; /* Centrer horizontalement */
}

.logo-tools {
    background: #113d6b;
    padding: 5%; /* You might want to adjust this value or remove it since gap already creates space between grid items */
    border-radius: 10px;
    display: flex; /* Added to center the image inside the .logo-tools div */
    justify-content: center; /* Centers content horizontally inside the .logo-tools div */
    align-items: center; /* Centers content vertically inside the .logo-tools div */
}

.logo-tools img {
    max-width: 100%; /* Ensures the image does not exceed the div size */
    max-height: 100%; /* Ensures the image does not exceed the div size */
    border-radius: 10px; /* Optional: If you want the images to have rounded corners */
}

.custom-shape-divider-bottom-1707388580 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707388580 svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1707388580 .shape-fill {
    fill: #113D6B;
}

.project{
    background-color: #113d6b;
    color: white;
    padding-bottom: 10%;
}

.project h1{
    padding: 10% 0% 0% 0%;
    border-bottom:1px solid white;
    font-style: bold;
    font-size: 2em;
    margin: 0 10% 0 10%;
}

.project>div{
    margin: 15%;
    border-radius: 5px;
}

.carousel-item>div{
    background-color: #113d6b;
    border-radius: 5px;
}
.custom-shape-divider-top-1707417152 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1707417152 svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top-1707417152 .shape-fill {
    fill: #113D6B;
}

.project-description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;
    background-color: white;
    color: #113d6b;

/*===Contact===*/
.contact{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 5%;
    box-shadow: 0px 10px 50px -10px #113d6b;
    border-radius: 15px;
    margin-bottom: 10%;
}

form{
    justify-content: space-between;
    width: 90%;
    padding: 5%;
}

form input{
    margin:10px;
    padding: 10px;
    width:35%;
    height: auto;
    border: none;
    background-color: rgb(235, 235, 235);
    border-radius: 8px;
}

form textarea{
    margin:10px;
    padding: 10px;
    width:100%;
    height: auto;
    border: none;
    background-color: rgb(235, 235, 235);
    border-radius: 8px;
}

form input:last-child{
    background-color: #113d6b;
    box-shadow: 0px 10px 50px -10px #113d6b;
    color: white;
    transform:translateX(80%);
}

form input:last-child:hover{
    background-color: white;
    color: #113d6b;
    border: 1px solid #113d6b;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #ffffff;
    background-color: #113d6b;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: white;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

@media only screen and (max-width: 1024px) {
    section {
        margin: 2rem 2.5rem;
    }

    .parcours{
        margin: 0;
    }
    .timeline{
        width: 80vw;
    }

    .soft{
        margin: 0;
    }

    .link-1{
        flex-direction: column;
    }

    .timeline .checkpoint{
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }

    .timeline .checkpoint::before{
        width:3px;
        height: 4em;
        top:-2em;
        left:50%;
        transform: translateX(-50%);
    }

    .timeline .checkpoint div::before {
        top: -0.5em;
        left:50%;
        transform: translateX(-50%);
    }

    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
    }
    .container .card{
        margin-bottom: 20px;
    }


    .droite{
        display: none;
    }

    .project{
        margin: 0;
    }

    .project>div{
        margin: 10%;
        border-radius: 5px;
    }

    .description-courte{
        display: none;
    }

    .sommaire-compétance h5{
        width: 100%;
    }

    .contact form input{
        width: 100%;
    }

    .contact form input:last-child{
        transform: translateX(0%);
    }


}

@media only screen and (max-width:768px) {
    html {
        font-size: 95%;
    }
    header {
        max-width: 100%;
    }
    section {
        margin: 0rem 1.5rem;
    }
    .images {
        background-position: center;
        background-size: cover;
    }
}

@media only screen and (max-width:480px) {
    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #113D6B;
    }

    header {
        padding: 0.7rem 1rem;
        align-items: center;
        max-width: 100%;
    }

    nav {
        position: absolute;
        display: grid;
        top: 75px;
        width: 100%;
        text-align: center;
        background-color: #fff;
        left: -100%;
    }

    #click:checked~nav {
        left: 0%;
        transition: all 0.3s ease;
    }

    section {
        margin: 1rem 1.5rem;
    }
    .main {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: #fff;
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }
}